.FriendCard{
    height: 365px;
    width: 214px;
    margin: 0 4px 10px 10px;
    border-radius: 6px;
}

.FriendCard >img{
    height: 212.8px;
    width: 214px;
    object-fit: cover;
}

.FriendCardInfo{
    padding: 0 14px;
   height: 150px; 
}



.FrendRequestButton> button{
    margin: 3px 0 3px 0;
    width: 188px;
    height: 36px;
    border-radius: 6px;
    text-transform: none;
    font-weight: bold;
}

.FrendRequestButton > div>  button{
    background-color: #e4e6eb;
    margin: 3px 0 3px 0;
    width: 188px;
    height: 36px;
    border-radius: 6px;
    text-transform: none;
    font-weight: bold;

}

.FrendRequestButton>  div :hover{
    background-color: #babbbe;
}


.FriendSuggestButton> button{
    margin: 3px 0 3px 0;
    width: 188px;
    height: 36px;
    border-radius: 6px;
    color: #1976d2;
    background-color:#a9c8ead1 ;
    text-transform: none;
    font-weight: bold;

}

.FriendSuggestButton> button :hover{
    background-color:#a9c8ead1 ;
}

.FriendSuggestButton > div>  button{
    background-color: #e4e6eb;
    margin: 3px 0 3px 0;
    width: 188px;
    height: 36px;
    border-radius: 6px;
    text-transform: none;
    font-weight: bold;
}

.FriendSuggestButton>  div :hover{
    background-color: #babbbe;
}






