
#PlaceLivedTop{
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}
#PlaceLivedTop > div{
width:100%;
margin-bottom: 10px;
}

#Description >div >div{
    height: 80px;
}
#PlaceLivedBottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

#PlaceLivedBottom > div {
display: flex;
}
#PlaceLivedBottom > div > button {
    margin-right: 5px;
    }

.Editordiv{
    margin-top: 20px;
}


.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 10px;
}    

.listRight{
    display: flex;
align-items: center;
}

.pHeading{
    font-weight: bold;
}