
.AllFriendSideBarMenuHead{
    display: flex;
    align-items: center;
    margin: 20px;
}

.AllFriendSideBarMenuHead > div{
    margin-left: 10px;
}

.AllFriendSideBarMenuHead > div  > p:hover{
   cursor: pointer;
   text-decoration: underline;
}

.allfreindlist::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .allfreindlist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }