.userFreindHeader{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom:  10px;
}

.userFreindBody{
    display: flex; 
     flex-wrap: wrap; 
     justify-content: space-between;
}

.userFriendBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
width: 530px;
}

.userFriendBox >  div> img{
   width: 80px;
   height: 80px;
   border-radius: 5px;
}




.noResult {
    display: flex;
    justify-content: center;
    height: 103px;
    align-items: center;
    width: 100%;
}