.content{font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
font-size: 25px;
font-weight: inherit;
line-height: 32px;
}
.css-1rpwek-MuiButtonBase-root-MuiButton-root{
    background-color:  #42b72a,
}


.facebook-Image > img{
    height: 75px;
}
