.AddPost{
    margin:10px 0 5px 0;
}

.AllPost_upper{
    width: 100%;
    display: flex;
}

.AllPost_lower_likeShareComment{
    display: flex;
    align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.AllPost_bodyBackground{
    width: 100%;
    height: 347px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    /* max-width: 429px; */
}

.AllPost_body_photo >img {
    height: 347px;
    width: 100%;
    object-fit: fill
}
.AllPost_body_photo > div  {
    word-break: break-word;
}

.LikeCommentsCounts{
    margin: 10px  0  10px 10px;
   display: flex;
}
.LikeCommentsCounts > img{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}